#faqAccordion{
    padding: 1em;
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:1em;
    
}

.panel-collapse collapse {
    height: 0px;
}
/*

.panel-group{
    padding-top: 55px;
    
    }
*/
#contact_help{
    padding: 1em;
    text-align: center;
    background-color: #f2f2f2f2;
    border: 1px solid dimgrey;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#contact_help span{
    color:red;
    
}

footer{
    margin-top: 6%;
}
